@charset "utf-8";
@import url(../css/reset.css);
@import url(../css/responsive.css);
@import url(../css/common.css);

.main-img{
    display: inline-block;
    width: 40%;
    border: 1px solid palevioletred;
    height: 500px;
    background: url(../img/service-page/main-img.jpg) no-repeat center/cover;
}
.about-container{
    text-align: center;
}
.about-text{
    display: inline-block;
    width: 40%;
}
.about{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.about h1{
    text-align: center;
}
.about p{
    text-align: center;
}
.service{
    text-align: center;
}
.service h1{
    text-align: center;
}
.process{
    display: flex;
    margin: 2rem;
    justify-content: center;
}
.process li{
    margin: 1rem;
}
.price-table{
    max-width: 100%;
    margin: 2rem;
    text-align: center;
}
.rolling-banner{
    text-align: center;
    /* background: coral; */
}
.rolling-banner-Box{
    max-width: 1000px;
    height: 200px;
    margin: 0 auto;
    padding-top: 5rem;
    overflow: hidden;
}
.rolling-scroll img{
    width: 1000px;
    height: 200px;
    padding-bottom: 100px;
}
.rolling-scroll{
    width: 300%;
    font-size: 0;
    margin-left: 0;
    animation: scroll 15s infinite ;
}
@keyframes scroll{
    0%{
        margin-left: 0px;
    }
    50%{
        margin-left: -100%;
    }
    100%{
        margin-left: -200%;
    }
}