@charset "utf-8";
@import url(../css/reset.css);
@import url(../css/responsive.css);
@import url(../css/common.css);
body{
    text-align: center;
}
.about{
    display: flex;
}
.about-item{
    width: 100%;
}
.about .main-img{
    width: 70%;
}
.about .text{
    width: 100%;
}
.about-drawing{
    padding-top:100px;
    max-width: 100%;
    height:300px;
    overflow: hidden; 
    position: relative;
}
.about-drawing img{
    width: 100%;
    height: auto;
}
.about-container .brand {
    width: 70%;
}
