@charset "utf-8";
@import url(../css/reset.css);
@import url(../css/common.css);

.contact-container{
    text-align: center;
}
.inner{
    text-align: center;
}
.contact-img-container{
    background: url(../img/contact-location/open.jpg)no-repeat center/cover;
    width: 100%;
    height: 100vh;
}
.booking button{
    width: 100px;
    height: 30px;
    background:var(--thertiary-color);
    color: var(--quaternary-color);
    font-weight: var(--font-heavy);
}