@charset "utf-8";
@import url(../css/reset.css);
@import url(../css/responsive.css);
@import url(../css/common.css);

.inner h1{
    margin-top: -4rem;
    padding-left: 1rem;
}
.main__banner img {
    padding-top: 5rem;
    width: 100%;
}
/* arrow */
.slick-prev,
.slick-next
{
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 0;
    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-prev:after,
.slick-next:after{
    font-size: 3rem;
    color: var(--thertiary-color);
}
.slick-prev:after,
.slick-next:after{
    font-family: unicons-line;
}
.slick-prev:after {
    content: '\ec49';
}
.slick-next:after {
    content: '\eb9f';
}

/* progress */
.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -2rem;
    cursor: pointer;
}
/* active된 dot */
.slick-dots li.slick-active button {
    background:var(--thertiary-color);
}
/* 나머지 dot */
.slick-dots li button {
    background: white;
    width: 40px;
    height: 5px;
    font-size: 0;
    border: none;
} 
.event-item{
    margin-top: -2rem;
    display: flex;
    justify-content: center;
}
.event-item li {
    max-width: 400px;
    margin: 1rem;
}
.event-item img{
    width: 100%;
}
