@charset "utf-8";
:root{
    /* color */
    --primary-color:rgb(247, 223, 253); 
    --primary-bg:white;
    --secondary-color:#111;
    --thertiary-color:rgb(249, 155, 226);
    --quaternary-color:#fff;
    /* font size */
    --font-large:3rem;
    --font-medium:1.5rem;
    --font-small:1rem;
    /* font-weight */
}
* {
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
body {
    margin: 0;
}
img {
    max-width: 100%;
    vertical-align: top;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
button{
    border: 0;
    outline: 0;
}
.inner{
    padding:20px;
    padding-top: 100px;
    margin: 0 auto;
}


