@charset "utf-8";

/* ========================= tablet ========================= */
@media (max-width: 768px){
    .inner{
        padding: 0;
    }
    /* header */
    .gnb{
        width: 100%;
        flex-direction: column;
        align-items: center;
        background: var(--primary-color);
    }
    .gnb-item{
        width: 100%;
        text-align: center;
        background: var(--primary-color);
        padding: 4px;
        display: none;
    }
    .gnb-toggle-btn{
        display: block;
    }
    .gnb.active .gnb-item{
        display: block;
    }
    .slider-container h1{
        font-size: 2rem;
    }
    .poster-container .left,
    .poster-container .right,
    .poster-container .center,
    .poster-container .left:hover,
    .poster-container .right:hover,
    .poster-container .center:hover{
        height: 400px;
        overflow:hidden;
    }
    /* service page */
    .second-log{
        width: 70%;
        margin: 0 auto;
    }
    .second-log img{
        width: 100%;
    }
    .poster-container .left,
    .poster-container .right,
    .poster-container .center,
    .poster-container .left:hover,
    .poster-container .right:hover,
    .poster-container .center:hover{
        height: 400px;
    }
    /* gallery-container */
    .gallery-container{
        margin-top: 150px;
    }
    /* footer */
    footer p{
        font-size: 10px;
    }
}
/* ========================= mobile page ========================= */
@media (max-width: 480px){
    /* common */
    .phone-button{
        display: block;
    }
    /* index page */
    
    /* poster */
    .poster-container .left,
    .poster-container .right,
    .poster-container .center,
    .poster-container .left:hover,
    .poster-container .right:hover,
    .poster-container .center:hover{
        display: block;
        width: 100%;
        height: 400px;
        overflow:hidden;
    }

    /* gallery page */
    .gallery{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    /* about page */
    .about{
        flex-direction: column;
    }
    .about p{
        font-size: 12px;
    }
    .process{
        flex-direction: column;
    }
    .about-drawing h1{
        font-size: 30px !important;
    }
    /* service page */
    .modal{
        visibility: visible;
    }
    .service-container .inform{
        display: block;
    }
}